
.vs/Colorizations/FileContentIndex/e29e5896-d307-480c-adb5-3406c8dc0ab4.vsidx
.vs/Colorizations/FileContentIndex/read.lock
.vs/Colorizations/v17/Browse.VC.db
.vs/Colorizations/v17/Browse.VC.db-shm
.vs/Colorizations/v17/Browse.VC.db-wal
.vs/Colorizations/v17/Browse.VC.opendb
.vs/Colorizations/FileContentIndex/361a817c-0a40-49fd-b045-c25716ab2cec.vsidx
.vs/Colorizations/FileContentIndex/6cfe5a60-200d-4111-adcc-fa70359d902d.vsidx
.vs/Colorizations/FileContentIndex/7818ad46-e0f2-4df6-b993-8e5dfe522468.vsidx
.vs/Colorizations/FileContentIndex/bde3fcb6-2a75-4242-ae47-12db0cf81a23.vsidx
.vs/Colorizations/v17/.suo
.vs/Colorizations/v17/ipch/AutoPCH/7712bde55c517bb0/MAIN.ipch
.vs/Colorizations/v17/ipch/AutoPCH/e245939dad4e5e6/MAP.ipch
Colorizations/x64/Debug/Colorizations.exe.recipe
Colorizations/x64/Debug/Colorizations.ilk
Colorizations/x64/Debug/Colorizations.log
Colorizations/x64/Debug/Colorizations.tlog/CL.command.1.tlog
Colorizations/x64/Debug/Colorizations.tlog/CL.read.1.tlog
Colorizations/x64/Debug/Colorizations.tlog/CL.write.1.tlog
Colorizations/x64/Debug/Colorizations.tlog/Colorizations.lastbuildstate
Colorizations/x64/Debug/Colorizations.tlog/link.command.1.tlog
Colorizations/x64/Debug/Colorizations.tlog/link.read.1.tlog
Colorizations/x64/Debug/Colorizations.tlog/link.write.1.tlog
Colorizations/x64/Debug/main.obj
Colorizations/x64/Debug/Map.obj
Colorizations/x64/Debug/vc143.idb
Colorizations/x64/Debug/vc143.pdb
x64/Debug/Colorizations.exe
x64/Debug/Colorizations.pdb
