
.vs/Colorizations/FileContentIndex/e29e5896-d307-480c-adb5-3406c8dc0ab4.vsidx
.vs/Colorizations/FileContentIndex/read.lock
.vs/Colorizations/v17/Browse.VC.db
.vs/Colorizations/v17/Browse.VC.db-shm
.vs/Colorizations/v17/Browse.VC.db-wal
.vs/Colorizations/v17/Browse.VC.opendb
